# gitignore comment -> ignore node_modules, package-lock.json

# Dependencies
#./node_modules/*
package-lock.json

# Compiled files
# 	Condensed
# 	  ./dist/styles
# 	  ./dist/index.js
#	  ./dist/refresh.js
# 	Non-condensed
# 	  ./lib/es5
# 	  ./lib/es6
#	  ./lib/expanded_css