// Import fixed colors to used throughout the pages
@import "../global/colors.less";
@import (reference) '../global/namespace.less';

// Load global styling only on about page and not home
@isHomePage:false;
.aboutMixin(@isHome) when not (@isHome = true) {
  #globalNS > .html();
  #globalNS > .navigation();
  #globalNS > .bg_canvas();
  #globalNS > .bg_img();
  #globalNS > .social();
}

.aboutMixin(@isHomePage);

.row {
  .format(relative, 75%, 45%);
  margin:100px auto;
  display:block;
  z-index:1;

  #left {
    float:left;
  }
  #right {
    float:right;
  }
  section {
    .format(inherit, 500px, 100%);
    background-color:@secondaryBackgroundColor;
    box-shadow:15px 15px 5px @accentColor;
    color:@textColor;
    top:0%;

    #listenImageCont {
      position:absolute;
      right:30px;
      top:20px;
      width:5rem;
      height:5rem;

      &:hover {
        cursor:pointer;
      }
      #listenImage {
        width:100%;
        height:100%;
      }
      i {
        position:absolute;
        font-size:1.25rem;
        left:40%;
        top:30%;
      }
    }

    h3 {
      text-align:center;
      &:hover {
        cursor:pointer;
        text-decoration: underline;
      }
    }
    p {
      text-indent:25px;
      margin:0px 15px;
    }
  }
  .figure {
    .format(inherit, 300px, 300px);
    margin:0px;
    img {
      position:absolute;
      z-index:1
    }
    .imgBorder {
      width:100%;
      z-index:3;
      &:hover {
        cursor: pointer;
      }
    }
    .figcaption {
      .format(relative, 70%, 70%);
      display:none;
      font-size:1.2rem;
      margin:auto;
      margin-top: 15%;
      color:@textColor;
      z-index:2;

      p {
        text-align: center;
        width:100%;
        position:absolute;
      }
    }
  }
  // Carl headshot
  img[alt *= "Headshot"] {
    margin-left:1%;
    width:97%;
  }
  // Carl playing oboe
  img[alt *= "Performing"] {
    margin-left:1%;
    width:96%; 
  }
  // Flight poem
  img[alt *= "Poem"] {
    margin-left:1.5%;
    width:95%;
  }
}

@media only screen and (max-width: 1130px) {
  .row {
    width: 90%;
  }
}
@media only screen and (max-width: 960px) {
  .row {
    height: unset;
    width:100%;

    &:first-of-type {
      top:28vh;
    }
    #left, #right {
      float:none;
    }
    section {
      .format(relative, 80%, 15rem);
      margin:auto;
      margin-bottom: 3.5rem;

      h3 {
        padding-top:1rem;
      }
    }
    .figure {
      position:relative;
      margin:auto;
      margin-bottom: 5rem;
    }
  } 
}