// Import fixed colors to used throughout the pages
@import "../global/colors.less";
@import "../global/keyframes.less";
@import (reference) '../global/namespace.less';
@import (reference) '../global/methods.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

[id = "formCont"] {
	.format(relative, 54rem); 
	//background-color:green;
	margin:5rem auto auto auto;
	z-index:2;

	h1:first-child {
		.format(relative, 100%);
		font-size:2.5rem;
		color:@textColor;
		text-align: center;
	}

	[class $= "Input"] {
		.format(relative, 100%);
		//background-color:black;
		h2 {
			.format(relative,30%);
			//background-color:aqua;
			display:inline-block;
			text-align: right;
			padding-right:20%;
			color:@textColor;
		}
		[class = "inputCont"] {
			.format(relative,35%);
			//background-color:orange;
			display:inline-block;
			padding-left:15%;

			input[type="text"], input[type="email"]{
				.format(relative,10rem,1.25rem);
				border:none;
				z-index:3;
			}
			[class = "inputAnimation"] {
				position:absolute;
				background-color:@accentColor;
				display:inline-block;
				height:1.375rem;
				left:30%;
				top:15%;

				animation-duration:0.5s;
				animation-timing-function:ease-out;
				animation-fill-mode:forwards;
				animation-delay:0s;
				animation-direction:normal;
			}
			[class = "errorMsg"] {
				display:inline;
				color:@errorMsgColor;
				width:fit-content;
				margin-left:0.75rem;
			}
		}

		[id = "formMessage"] {
			color:@textColor;
			display:block;
			text-align: center;
			width:fit-content;
			height:fit-content;
			margin:auto;
		}
		input {
			display:inline-block;
			font-size:1rem;
			&:focus {
				outline: none;
			}
		}
		[id = "submitBtn"] {
			background-color:@accentColor;
			font-size:1rem;
			border:none;
			color:@textColor;
			border-radius:5px;
			display:block;
			padding:10px 40px;
			margin:2rem auto 1rem auto;
		}
		[id = "sending_img"] {
			display:block;
			margin:1.5rem auto 0.5rem auto;
			width:7rem;
			height:4rem;
		}
		input[type="button"] {
			&:hover {
				background-color:@buttonHoverColor;
				cursor:pointer;	
			}
		}
	}
	[class = "buttonInput"] {
		height:2rem;
	}
}

#globalNS > .social();