// Import fixed colors to used throughout the pages
@import "../global/colors.less";
@import (reference) "../global/keyframes.less";
@import (reference) '../global/namespace.less';
@import (reference) '../global/methods.less';

// Only load if on contact page and not on home page
@isHomePage: false;
.contactMixin(@isHome) when not (@isHome = true) {
	#globalNS > .html();
	#globalNS > .navigation();
	#globalNS > .bg_canvas();
	#globalNS > .bg_img();
	#globalNS > .social();
}
.contactMixin(@isHomePage);

// Load in keyframes specific to contact page
//.inputKeyFrames();
/*
form:first-of-type {
	.format(relative, 54rem);
	margin:8rem auto auto auto;
	z-index:2;
 
	@media only screen and (max-width:900px) {
		width:unset;
	}
	h1:first-child {
		.format(relative, 100%);
		//font-size:2.5rem;
		color:@textColor;
		text-align: center;
	}
	& > div[id = "inputRowsCont"] {
		.format(relative, 100%);
		margin-top:1.5rem;

		& > div.selectionRow { 
			.format(inherit, inherit);
			margin-top:1.65rem;

			@media only screen and (max-width: 600px) {
				margin-bottom:3.65rem;
				width:fit-content;
				margin-left:auto;
				margin-right:auto;
			}

			label {
				.format(relative,30%);
				display:inline-block;
				font-size:1.45rem;
				text-align: right;
				padding-right:20%;
				color:@textColor;

				@media only screen and (max-width:600px) {
					display:block;
					width:fit-content;
					margin:auto;
					padding-right:0%;
				}
			}
			.userInputCont {
				.format(relative,35%);
				display:inline-block;
				margin-top: 1.5rem;
				padding-left:15%;

				@media only screen and (max-width:600px) {
					margin-top:0.5rem;
					padding-left:0%;
					width:fit-content;
				}

				input, select, textarea {
					.format(relative,10rem,1.25rem);
					display:inline-block;
					font-size:1rem;
					border:none;
					z-index:3;

					&:focus {
						outline: none;
					}

					@media only screen and (max-width:900px) {
						display:block;
					}
				}
				input, textarea {
					caret-color: @accentColor;
				}
				textarea {
					min-width: 10rem;
					min-height: 1.25rem;
					max-width: 75%;
					max-height:15rem;
				}
				[class = "inputAnimation"] {
					position:absolute;
					background-color:@accentColor;
					//display:inline-block;
					display: none;
					height:1.375rem;
					left:30%;
					top:15%;

					animation-duration:0.5s;
					animation-timing-function:ease-out;
					animation-fill-mode:forwards;
					animation-delay:0s;
					animation-direction:normal;
				}
				[class = "errorMsg"] {
					position:absolute;
					display:inline;
					color:@errorMsgColor;
					width:fit-content;
					top:-2px;
					margin-top:0px;
					margin-left:0.75rem;

					@media only screen and (max-width:900px) {
						top:30px;
						margin-left:0;
					}
				}
			}

		}
		& > div[class = "buttonInput"] {
			height:2rem;
			margin-top:5rem;

			[id = "formMessage"] {
				color:@textColor;
				display:block;
				text-align: center;
				width:fit-content;
				height:fit-content;
				margin:auto;
			}
			[id = "submitBtn"] {
				background-color:@accentColor;
				font-size:1rem;
				border:none;
				color:@textColor;
				border-radius:5px;
				display:block;
				padding:10px 40px;
				margin:2rem auto 1rem auto;
			}
			[id = "sending_img"] {
				display:block;
				margin:1.5rem auto 0.5rem auto;
				width:7rem;
				height:4rem;
			}
			input[type="submit"] {
				&:focus {
					outline: 0;
					background-color: @buttonHoverColor;
				}
				&:hover {
					background-color:@buttonHoverColor;
					cursor:pointer;	
				}
			}
		}
	}
}
*/
@AVAILABLE_SPACE: calc(100vh - 27.5rem);
@INTRO_AND_MEDIA_SECTION_HEIGHT: calc(@AVAILABLE_SPACE / 2);

.fixedServerGraphics() {
	position:absolute;
	transform:translate(-50%,-50%);
	padding-bottom: 0rem;
	margin-top: 0rem;
	top:50%;
	left:50%;
}
.fixedMediaLinkSection() {
	position:absolute;
	transform:translateX(-50%);
	margin-top:0rem;
	top:80%;
	left:50%;
}
.paragraph() {
	font-size:1rem;
	text-align: center;
	margin:0;
	margin-top:1rem;
}
section {
	.format(relative,95%);
	min-width:unset;
	color:@textColor;
	margin:auto;
	top:4rem;

	&#introSection {
		h1 {
			font-size:1.95rem;
			text-align:center;
			margin:0px;
		}
		p {
			.paragraph();
		}
	}
	&#serverGraphicSection {
		height:19.5rem;
		margin-top: 1rem;

		& > img {
			width:10rem;

			// Person image
			&:first-of-type {
				display: block;
				margin:auto;
				margin-top:7rem;
			}
			&:last-of-type {
				display:block;
				margin:auto;
			}
		}
		// Speech bubble and text
		&::before {
			.format(absolute,8rem,7.6875rem);
			background-image:url(../resources/pg_imgs/contact/speech_bubble.png);
			background-repeat:no-repeat;
			background-size:contain;
			display:inline-block;
			content:"";
			transform:translateX(120%);
			right:50%;
			top:-5.75rem;
		}
		&::after {
			.format(absolute,8rem);
			content:"It's okay, you're doing great!";
			text-align: center;
			font-size:1rem;
			display: block;
			color:black;
			transform:translateX(120%);
			right:50%;
			top:-4rem;
		}
		& > div#speechBubble {
			display:none;
		}
	}
	&#mediaLinksSection {
		padding-bottom:3rem;
		margin-top:0.75rem;
		z-index: 1;

		p {
			.paragraph();
			margin:0px;
		}
		div#mediaLinksCont {
			position:relative;
			display:flex;
			flex-flow:row nowrap;
			justify-content: space-around;
			margin-top:1rem;
			z-index: 2;

			& > img {
				opacity:0.6;
				width:40px;

				&:hover {
					opacity:1;
					cursor:pointer;
				}
			}
		}
	}

	@media only screen and (min-height: 740px) {
		@media (max-width: 500px) {
			&#serverGraphicSection {
				.fixedServerGraphics();
				height:unset;

				&::before {
					top:1.25rem;
				}
				&::after {
					top:3rem;
				}
			}
			&#mediaLinksSection {
				.fixedMediaLinkSection();	
			}
		}
	}
	@media only screen and (min-width: 500px) {
		&#introSection {
			p {
				font-size:1.25rem;
			}
		}
		&#serverGraphicSection {
			display:flex;
			justify-content: space-between;
			flex-flow:row nowrap;
			align-items:center;
	 
			& > img {
				width:12rem;

				&:first-of-type {
					align-self:flex-end;
					margin:0;
				}
				&:last-of-type {
					margin:unset;
					/*
					position:relative;
					transform:unset;
					left:unset;
					bottom:unset;
					*/
				}
			}
			&::before {
				transform:unset;
				right:unset;
				width:9.5rem;
				left:8rem;
				top:0rem;
			}
			&::after {
				transform:unset;
				right:unset;
				font-size:1.15rem;
				left:8.75rem;
				//top:2rem;
				top:2rem;
			}
		}
		&#mediaLinksSection {
			margin-top: 2.75rem;
		}

		//@media (min-height: 635px) {
		@media (min-height: 668px) {
			&#serverGraphicSection {
				.fixedServerGraphics();
			}
			&#mediaLinksSection {
				.fixedMediaLinkSection();	
			}
		}
	}
	@media only screen and (min-width:720px) {
		width:40vw;
		min-width:45rem;

		&#serverGraphicSection {
			& > img {
				width:15rem;

				&:first-of-type {
					height:13rem;
				}
			}
			&::before {
				left:20%;
			}
			&::after {
				left:22%;
			}
		}
	}
}