// Import fixed colors to used throughout the pages
@import "./about.less";
@import "./contact.less";
@import (reference) '../global/namespace.less';
@import (reference) '../global/methods.less';
@import (reference) '../global/colors.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

/*  Rest of the styling goes here */
#collage {
	& > img {
		position:absolute;
		object-fit:contain;

		&[id ^= "left"] {
			left:0;
		}
		&[id ^= "middle"] {
			left:12.95rem;
		}
		&[id ^= "right"] {
			right:0;
		}
		&[id $= "Top"] {
			top:0;
		}
		// Ungovernables
		&[id = "middleSecond"] {
			top:8.9rem;
		}
		// Happy Holy Dayz
		&[id = "leftMiddle"] {
			top:17.28rem;
		}
		// Oboe on sheet music 
		&[id = "middleThird"] {
			top:18.5rem;
		}
		&[id $= "Bottom"] {
			bottom:0;
		}
		& {
			transition: transform 0.45s;
		}
		&:hover {
			transform: scale(0.85, 0.85);
			cursor:pointer;
		}
	}
}
/*		Images within collage and post		*/
img {
	&[id ^= "left"] {
		width:12.915rem;
	}
	&[id ^= "middle"] {
		width:17.05rem;
	}
	&[id ^= "right"] {
		width:14.85rem;
	}
}
#collage {
	.format(relative,44.85rem, 39.55rem);
	margin:3rem auto 11rem auto;
	z-index:1;
}
#postBackdrop {
	.format(fixed, 100%, 100%);
	background-color:@secondaryBackgroundColor;
	filter:opacity(0.75);
	top:0;
	z-index:2;
}
.imgPostCont {
	background-color:@activeTextColor;
	position:fixed;
	left:50%;
	top:50%;
	z-index:2;

	& > .imgCont {
		.format(relative,50%, 100%);
		background-color: rgba(12, 9, 10, 0.2);
		//border:2px solid @accentColor;
		float:left;

		& > img {
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			object-fit:contain;	
		}
	}
	& > .postCont {
		width:50%;
		height:100%;
		float:right;

		& > div {
			display:inline-block;
		}

		& > .postDataCont {
			.format(relative,70%,100%);
			text-align:center;
			margin:auto;

			& > hr {
				border: 2px solid @secondaryColor;
			}
		}
		& > .arrowCont {
			.format(relative,15%,100%);
			text-align:center;

			& > i {
				position:relative;
				color:@secondaryColor;
				font-size:2em;
				top:50%;
				transform:translateY(-50%);

				&:hover {
					cursor:pointer;
				}
			}
		}
		& > #leftArrowCont {
			float:left;
		}
		& > #rightArrowCont {
			float:right;
		}
	}
	& > i {
		position:absolute;
		color:@secondaryColor;
		font-size:1.5rem;
		top:0.25rem;
		right:0.5rem;

		&:hover {
			cursor:pointer;
		}
	}
}
#formCont {
	margin:12rem auto 10.75rem auto;
}

#globalNS > .social();