// Import fixed colors to used throughout the pages
@import "./about.less";
@import "./contact.less";
@import (reference) '../global/namespace.less';
@import (reference) '../global/methods.less';
@import (reference) '../global/colors.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

/*  Rest of the styling goes here */
/*		Images within collage and post		*/
img {
	// Happy Holy Dayz
	&#leftTop {
		grid-area:holyDayz;
	}
	// A Fathers Touch
	&#leftBottom {
		grid-area:fathersTouch;
	}
	// Spoken Word
	&#middleLeftTop {
		grid-area:spokenWord;
	}
	// Reed Scraping
	&#middleLeftBottom {
		grid-area:reedScraping;
	}
	// Random Reeds
	&#middleRightTop {
		grid-area:randReeds;
	}
	// Oboe and sheet music
	&#middleRightBottom {
		grid-area:oboe;
	}
	// Take My Hand
	&#rightTop {
		grid-area:takeHand;
	}
	// Ungovernables
	&#rightBottom {
		grid-area:ungovernables;
	}
}
#collage {
	.format(relative,55.85rem, 31.5rem);
	margin:calc((100vh - 31.5rem) / 2) auto 11rem auto;
	z-index: 1;
	display: grid;
	grid-template-columns: 13.625rem 12.05rem 7.9rem 7.6rem 14.65rem;
	grid-template-rows:8.140625rem 5.30875rem 6.183625rem 11.9345625rem;
	grid-template-areas: 'holyDayz 		spokenWord 		randReeds 		randReeds 		takeHand'
						 'holyDayz 		spokenWord 		oboe 			oboe 			takeHand'
						 'fathersTouch 	spokenWord 		oboe 			oboe 			takeHand'
						 'fathersTouch	reedScraping 	reedScraping 	ungovernables 	ungovernables';

	& > img {
		transition: transform 0.45s;
		width:100%;
		height:100%;

		&:hover {
			transform: scale(0.85, 0.85);
			cursor:pointer;
		}
	}
}
#postBackdrop {
	.format(fixed, 100%, 100%);
	background-color:@secondaryBackgroundColor;
	filter:opacity(0.75);
	top:0;
	z-index:2;
}
.imgPostCont {
	background-color:@activeTextColor;
	position:fixed;
	left:50%;
	top:50%;
	z-index:2;

	& > .imgCont {
		.format(relative,50%, 100%);
		background-color: rgba(12, 9, 10, 0.2);
		float:left;

		& > img {
			.format(absolute,initial);
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			object-fit:contain;	
		}
	}
	& > .postCont {
		width:50%;
		height:100%;
		float:right;

		& > div {
			display:inline-block;
		}

		& > .postDataCont {
			.format(relative,70%,100%);
			text-align:center;
			margin:auto;

			& > hr {
				border: 2px solid @secondaryColor;
			}
		}
		& > .arrowCont {
			.format(relative,15%,100%);
			text-align:center;

			& > i {
				position:relative;
				color:@secondaryColor;
				font-size:2em;
				top:50%;
				transform:translateY(-50%);

				&:hover {
					cursor:pointer;
				}
			}
		}
		& > #leftArrowCont {
			float:left;
		}
		& > #rightArrowCont {
			float:right;
		}
	}
	& > i {
		position:absolute;
		color:@secondaryColor;
		font-size:1.5rem;
		top:0.25rem;
		right:0.5rem;

		&:hover {
			cursor:pointer;
		}
	}
}
#formCont {
	margin:12rem auto 10.75rem auto;
}

#globalNS > .social();