/// Import fixed colors to used throughout the pages
@import "./about.less";
@import "./contact.less";
@import (reference) '../global/namespace.less';
@import (reference) '../global/methods.less';
@import (reference) '../global/colors.less';

// @isHomePage is used as a mixing guard for preventing global styling being loaded multiple times
@isHomePage: true;
#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

/*  Rest of the styling goes here */
/*		Images within collage and post		*/
img {
	// Happy Holy Dayz
	&#leftTop {
		grid-area:holyDayz;
	}
	// A Fathers Touch
	&#leftBottom {
		grid-area:fathersTouch;
	}
	// Spoken Word
	&#middleLeftTop {
		grid-area:spokenWord;
	}
	// Reed Scraping
	&#middleLeftBottom {
		grid-area:reedScraping;
	}
	// Random Reeds
	&#middleRightTop {
		grid-area:randReeds;
	}
	// Oboe and sheet music
	&#middleRightBottom {
		grid-area:oboe;
	}
	// Take My Hand
	&#rightTop {
		grid-area:takeHand;
	}
	// Ungovernables
	&#rightBottom {
		grid-area:ungovernables;
	}
}
#collage {
	.format(relative,55.85rem, 31.5rem);
	margin:calc((100vh - 31.5rem) / 2) auto 11rem auto;
	z-index: 1;
	display: grid;
	grid-template-columns: 13.625rem 12.05rem 7.9rem 7.6rem 14.65rem;
	grid-template-rows:8.140625rem 5.30875rem 6.183625rem 11.9345625rem;
	grid-template-areas: 'holyDayz 		spokenWord 		randReeds 		randReeds 		takeHand'
						 'holyDayz 		spokenWord 		oboe 			oboe 			takeHand'
						 'fathersTouch 	spokenWord 		oboe 			oboe 			takeHand'
						 'fathersTouch	reedScraping 	reedScraping 	ungovernables 	ungovernables';

	& > img {
		transition: transform 0.45s;
		width:100%;
		height:100%;

		&:hover {
			transform: scale(0.85, 0.85);
			cursor:pointer;
		}
	}
}
#postBackdrop {
	.format(fixed, 100%, 100%);
	background-color:@secondaryBackgroundColor;
	filter:opacity(0.75);
	top:0;
	z-index:2;
}
#imgPostCont {
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	z-index:2;

	& > .imgCont {
		.format(relative, 50%, 100%);
		background-color: rgb(196,196,196);
		float:left;

		& > img {
			.format(absolute,initial);
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			object-fit:contain;
		}
	}
	& > .postCont {
		.format(relative,50%, 100%);
		background-color:@activeTextColor;
		float:right;

		& > div {
			display:inline-block;
		}

		& > .postDataCont {
			.format(relative,70%,100%);
			text-align:center;
			margin:auto;

			h3 {
				color: revert;
				font-size: var(--header-5);
			}
			& > hr {
				border: 2px solid @secondaryColor;
			}
		}
		& > .arrowCont {
			.format(relative,15%,100%);
			text-align:center;

			& > i {
				position:relative;
				color:@secondaryColor;
				font-size:2em;
				top:50%;
				transform:translateY(-50%);

				&:hover {
					cursor:pointer;
				}
			}
		}
		& > #leftArrowCont {
			float:left;
		}
		& > #rightArrowCont {
			float:right;
		}
	}
	& > i {
		position:absolute;
		color:@secondaryColor;
		font-size:1.5rem;
		top:0.25rem;
		right:0.5rem;

		&:hover {
			cursor:pointer;
		}
	}
}
#formCont {
	margin:auto;
	margin-top:12rem;
	padding-bottom:10.75rem;

	@media only screen and (max-height:640px) {
		margin-bottom:22vh;
	}
	@media only screen and (max-width:600px) {
		//margin-bottom:5.75rem;
		margin-bottom:12vh;
	}
}

@media only screen and (max-width: 900px) {
	#collage {
		display:none;
	}
	#imgPostCont {
		position:relative;

		& > .imgCont, & >.postCont {
			transition: transform 0.5s;
			transform: scale(1.0) translateX(initial);
		}
		& > i {
			display:none;	
		}
	}
	#postBackdrop {
		display:none;
	}
}
@media only screen and (min-width:600px) and (max-width: 900px) {
	#imgPostCont {
		& > .imgCont, & > .postCont {
			width:50%;
		}
	}
}
@media only screen and (max-width: 675px) {
	#imgPostCont {
		& > .imgCont {
			transform: scale(0.8) translateX(12.5%);
		}
		& > .postCont {
			transform: scale(0.8) translateX(-12.5%);
		}
	}
}
@media only screen and (max-width: 600px) {
	#imgPostCont {
		& > .imgCont, & > .postCont {
			width:auto;
			float:none;
			margin:auto;
			transform: scale(1) translateX(0%);
			transition: unset;
			transform: unset;

			& > img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		& > .imgCont {
			height:60%;
		}
		& > .postCont {
			height:40%;
		}
	}
}

#globalNS > .social();