@primaryColor:#340604;
@secondaryColor:#0c090a;
@accentColor:#003249;
@shadowColor:#de5757;
@activeColor:#f2f2f2;
@textColor:#f0edee;
// primaryBackgroundColor => same
// secondaryBackgroundColor => secondaryColor
// secondaryColor => accentColor
// accentColor => shadowColor
// activeColor rename=> activeTextColor
// Button click: #a21616;
// Contact form Bg possible colors: @secondaryColor fade => @accentColor, @secondaryColor fade => #0071aa;