@import (reference) './colors.less';

// From plus to minus
@keyframes plusMinus {
	0% {
		clip-path:polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);
	}
	100% {
		clip-path:polygon(5% 40%, 40% 40%, 45% 40%, 60% 40%, 65% 40%, 95% 40%, 95% 60%, 60% 60%, 55% 60%, 40% 60%, 35% 60%, 5% 60%);
	}
}
// From minus to plus
@keyframes minusPlus {
	0% {
		clip-path:polygon(5% 40%, 40% 40%, 45% 40%, 60% 40%, 65% 40%, 95% 40%, 95% 60%, 60% 60%, 55% 60%, 40% 60%, 35% 60%, 5% 60%);
	}
	100% {
		clip-path:polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);
	}	
}
/*		Dropdown		*/
// Drop down content
@keyframes dropdownOpen {
	0% {
		display:none;
		height:0rem;
	}
	100% {
		display:block;
		height:17rem;
	}
}
@keyframes dropdownClose {
	0% {
		display:block;
		height:17rem;
	}
	100% {
		display:none;
		height:0rem;
	}
}
/*		Dropdown Paragraphs		*/
@keyframes dropdownPOpen {
	from {
		visibility:hidden;
		padding:0rem 5%;
	}
	to {
		visibility: visible;
		padding:1rem 5%;
	}
}
@keyframes dropdownPClose {
	from {
		visibility:visible;
		padding:1rem 5%;
	}
	to {
		visibility: hidden;
		padding:0rem 5%;
	}
}
/*		Performance Landing Page 	*/
@keyframes blurImage {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
@keyframes unBlurImage {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
/*		Editing Page 		*/
@keyframes circle {
	0% {
    	transform:rotateZ(-45deg);
        border-top: 2px solid white;
    }
    100% {
		transform:rotateZ(315deg);
        border-top: 2px solid white;
	}
}
/*		Contact Page 		*/
@keyframes inputFocus {
	from {
		width:0rem;
	}
	to {
		width:10.125rem;
	}
}
@keyframes inputUnfocus {
	from {
		width:10.125rem;
	}
	to {
		width:0rem;
	}
}