// Imports
@import (reference) './static.less';
@import './methods.less';

// global namespace
#globalNS() {
	.html() {
		html, body {
			background-color:black;
			font-family:"Oswald";
			font-size:16px;
			width:100%;
			height:100%;
			margin:0;
		}
	}
	.navigation() {
		#header {
		    &:extend(.staticBar);
		    top:0%;
		    z-index:3;
		    ul[id = "navigation"] {
		    	&:extend(.staticUL);
				width:inherit;
				height:100%;

				& > span#linksCont {
					position:relative;
					float:right;
					top:4px;
				}
				@media only screen and (max-device-width: 560px) {
					span#linksCont {
						& > li {
							padding-left:1rem;
							padding-right:1rem;
						}
					}
				}
				/*@media only screen and (max-width: 600px) {
					span#linksCont {
						//display:none;
						width:100vw;

						& > li {
							display:block;
						}
					}
				}*/
				li {
					&:extend(.staticLI);
					padding:0.625rem 1.5rem 0.85rem 1.5rem;

					ul[class = "subDir"] {
						&:extend(.staticUL);
						.format(absolute, 225px, 125px);
						background-color:@secondaryBackgroundColor;
						padding:0%;
						float:left;
						right:0%;
						top:100%;

						display:none;
						li {
							&:extend(.staticLI);
							display:inline-block;
							padding:2.75% 5.25%;
							margin-top:7.5%;
							margin-left:5.3%
						}
					}
				}
				// Include hover affect on navigation
				li:hover {
					&:extend(.staticLIHover);

					ul[class = "subDir"] {
						display:block;
						li:hover {
							&:extend(.staticLIHover);
						}
					}
				}
				// Active is the id of the navigation referring to the current page
				#active {
					background-color:@activeTextColor;
					color:black;
				}
				// Home link has separate float than rest of navigation
				#homeLink {
					float:left;
				}
		    }
		}
	}
	.bg_canvas() {
		#bgCanvas {
			.format(fixed, inherit, inherit);
			top:0%;
			z-index:0;
		}
	}
	.bg_img() {
		[id = 'bgImage'] {
			.format(fixed, inherit, inherit);
			opacity:0.05;
			z-index:1;
			top:0%;
		}
	}
	.social() {
		#footer {
		    &:extend(.staticBar);
		    bottom:0%;
		    z-index:3;
		    #social {
		    	.format(relative, 13rem, 100%);
				margin-right:2rem;
				float:right;
				.socialImg {
					position:inherit;
					float:right;
					vertical-align: middle;
					margin-top: 0.325rem;
					margin-right:1rem;
					height:2rem;
				}
				.socialImg:hover {
					cursor:pointer;
				}
		    }
		 }
	}
}