// This contains the static content that can be applied to specific elements
// 	despite the content

// Imports
@import "./methods.less";

.staticBar {
	.format(fixed, 100%, 6vh);
	background-color:@secondaryBackgroundColor;
  	font-size:1.5rem;
  	filter:opacity(70%);
  	z-index:2;
}
.staticUL {
	position:relative;
	padding:0px;
	margin:0%;
}
.staticLI {
	text-decoration:none;
	position:relative;
	font-size:1.1rem;
	color:@textColor;
	display:inline;
}
.staticLIHover {
	background-color:@activeTextColor;
	cursor:pointer;
	color:black;
}
