// Import fixed colors to used throughout the pages
@import "../../global/colors.less";
@import (reference) '../../global/keyframes.less';
@import (reference) '../../global/namespace.less';
@import (reference) '../../global/methods.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

@visualScreenHeight:calc(100vh - 5.5rem);	// 5.5rem === height of header + height of footer
.screenRadius(@rad) when (isnumber(@rad)) {
	@radiusConversion:@rad/300;
	@screenRadius:calc(@visualScreenHeight * @radiusConversion);
}

// Load keyframes specific to perforamnce landing page
.blurImageKeyFrames();

/*  Rest of the styling goes here */
section {
	position:relative;
	width:fit-content;
	padding-top:2.75rem;
	margin:auto;
	z-index: 1;

	& > svg {
		display:block;
		height: @visualScreenHeight;
		z-index: 1;

		& text {
			pointer-events: none;
			fill:white;

			&.header {
				font-size:0.85rem;
			}
			&.sector_hover {
				pointer-events:fill;
				font-size:0.75rem;
				display:none;
				z-index: 2;

				&:hover {
					cursor: pointer;
				}
			}
			&.sector_content {
				font-size:0.5rem;
			}
		}
		& > image {
			animation-duration:1s;
			animation-direction: normal;
			animation-play-state: running;
			animation-timing-function: linear;
			animation-iteration-count: 1;
			animation-fill-mode: both;

			&:first-of-type {
				opacity:0;
			}
			&:last-of-type {
				opacity:1;
			}
		}
		& > path {
			z-index: 1;
		}
		& line {
			pointer-events: none;
		}
	}
	& > i.arrow {
		position:absolute;
		display:none;
		color:#de5757;
		font-size:3rem;
		z-index: 2;

		&:hover {
			cursor:pointer;
		}

		&:nth-of-type(1) {
			top:50%;
			left:50%;
			transform:rotate(-50deg) translate(-100%, calc(0% - calc(@visualScreenHeight * (135/300))));
		}
		&:nth-of-type(2) {
			bottom:50%;
			left:50%;
			transform:rotate(180deg) translate(50%,calc(-50% - calc(@visualScreenHeight * (145/300))));

			@media only screen and (min-height:730px) {
				transform:rotate(180deg) translate(50%,calc(-50% - calc(@visualScreenHeight * (138/300))));
			}
		}
		&:last-of-type {
			top:50%;
			right:50%;
			transform:rotate(50deg) translate(100%, calc(0% - calc(@visualScreenHeight * (135/300))));
		}
	}
}

#globalNS > .social();