// Import fixed colors to used throughout the pages
@import "../../global/colors.less";
@import (reference) "../../global/methods.less";
@import (reference) '../../global/namespace.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

.staticCont {
	position:absolute;
	width:100%;
}
.staticBlendCont {
	&:extend(.staticCont);
	border-radius:15px;
}
// Tabs
[class = "tabCont"] {
	.format(relative, 80%);
	margin:5% 10% 0% 10%;
	top:15%;

	[class = "tabHeaderCont"] {
		.format(inherit, 100%, 4rem);
		background-color:@accentColor;

		[class = "tabHeader"] {
			.format(inherit, 20rem, 50%);
			float:left;
			margin:0px;
			padding-left:2.5rem;
			color:@textColor;
			font-size:1.5rem;
			top:25%;
		}
		[class = "tabButton"] {
			.format(inherit, 2rem, 50%);
			background-color:@secondaryColor;
			clip-path:polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);		
			top:25%;
			right:1.5%;
			float:right;
		}
	}
	[class = "tabBody"] {
		background-color:aqua;
		position:inherit;
	}
}
// The text headers of each container
[class *= "Name"] {
	.format(absolute, 100%);
	mix-blend-mode:normal;
	font-size:1.25rem;
	text-align: center;
	margin-top:10px;
	color:@textColor;
	top:0%;
}
/*  Rest of the styling goes here */
[class = "priceBox"] {
	.format(relative, 30%, 75%);
	display:inline-block;
	margin-left:2.5%;
	margin-top:1.5%;
	top:10%;
	@media only screen and (max-width: 630px) {
		display:block;
	}

	[class = "nameCont"] {
		&:extend(.staticCont);
		height:inherit;
		height:100%;
		bottom:0%;

		[class = "nameBlend"] {
			&:extend(.staticBlendCont);
			background-color:@accentColor;
			mix-blend-mode: screen;
			height:inherit;
			bottom:0%;

			[class = "descriptionCont"] {
				&:extend(.staticCont);
				height:75%;
				bottom:0%;

				[class = "descriptionBlend"] {
					&:extend(.staticBlendCont);
					background-color:#31668b;
					mix-blend-mode: screen;
					height:100%;
					bottom:0%;

					[class = "pricingCont"] {
						&:extend(.staticCont);
						bottom:0%;	
						height:45%;

						[class = "pricingBlend"] {
							&:extend(.staticBlendCont);
							background-color:@activeColor;
							mix-blend-mode: soft-light;
							height:100%;
							bottom:0%;
						}
					}
				}
			}	
		}
	}
}

#globalNS > .social();
