// Import fixed colors to used throughout the pages
@import "../../global/colors.less";
@import (reference) '../../global/namespace.less';

html, body {
  font-family:"Oswald";
  width:100%;
  height:100%;
  margin:0;
}

#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

.staticCont {
	position:absolute;
	width:100%;
}
.staticBlendCont {
	&:extend(.staticCont);
	border-radius:15px;
}
// The text headers of each container
[class *= "Name"] {
	position:absolute;
	mix-blend-mode:normal;
	font-size:1.25rem;
	text-align: center;
	margin-top:10px;
	color:@textColor;
	width:100%;
	top:0%;
}
/*  Rest of the styling goes here */
[class = "priceBox"] {
	position:relative;
	display:inline-block;
	margin-left:2.5%;
	margin-top:1.5%;
	top:10%;
	width: 30%;
	height:75%;
	@media only screen and (max-width: 630px) {
		display:block;
	}

	[class = "nameCont"] {
		&:extend(.staticCont);
		height:inherit;
		height:100%;
		bottom:0%;

		[class = "nameBlend"] {
			&:extend(.staticBlendCont);
			background-color:@accentColor;
			mix-blend-mode: screen;
			height:inherit;
			bottom:0%;

			[class = "descriptionCont"] {
				&:extend(.staticCont);
				height:75%;
				bottom:0%;

				[class = "descriptionBlend"] {
					&:extend(.staticBlendCont);
					background-color:#31668b;
					mix-blend-mode: screen;
					height:100%;
					bottom:0%;

					[class = "pricingCont"] {
						&:extend(.staticCont);
						bottom:0%;	
						height:45%;

						[class = "pricingBlend"] {
							&:extend(.staticBlendCont);
							background-color:@activeColor;
							mix-blend-mode: soft-light;
							height:100%;
							bottom:0%;
						}
					}
				}
			}	
		}
	}
}

#globalNS > .social();
