// Import fixed colors to used throughout the pages
@import "../../global/colors.less";
@import "../../global/keyframes.less";
@import (reference) "../../global/methods.less";
@import (reference) '../../global/namespace.less';

#globalNS > .html();
#globalNS > .navigation();
#globalNS > .bg_canvas();
#globalNS > .bg_img();

.staticCont {
	position:absolute;
	width:100%;
}
.staticBlendCont {
	&:extend(.staticCont);
	border-radius:15px;
}
.animation {
	animation-play-state:paused;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-duration:1s;	
}

// Headers
[class = "headerCont"] {
	//background-color:yellow;
	.format(relative,80%);
	margin:auto;
	margin-top:7%;

	[class = "headerText"] {
		//background-color:green;
		position:relative;
		width:100%;
		height:8rem;

		h3 {
			text-align: center;
			color:@textColor;
			margin:auto;
			width:25rem;
			height:100%;
			font-size:2rem;
		}
		[id $= "Reed"] {
			.format(absolute,15rem,50%);
		}
		[id = "leftReed"] {
			left:15%;
		}
		[id = "rightReed"] {
			right:15%;
			top:0px;
			transform:rotate(180deg) scaleY(-1);
		}
	}
	[class = "headerBody"] {
		&::first-line {
			text-indent:2rem;
		}
		//background-color:@secondaryColor;
		border:3px inset @secondaryColor;
		width:80%;
		margin:auto;
		font-size:1.05rem;
		padding:1.5rem 5rem 2rem 5rem;
		color:@textColor;
	}
}
// Tabs
[class = "tabCont"] {
	.format(relative, 80%);
	margin:5% 10% 5% 10%;
	display: block;
	top:0%;

	[class = "tabHeaderCont"] {
		.format(inherit, 100%, 4rem);
		display: block;
		background-color:@secondaryColor;
		top:0%;

		[class = "tabHeader"] {
			.format(inherit, 20rem, 50%);
			float:left;
			margin:0px;
			padding-left:2.5rem;
			color:@textColor;
			font-size:1.5rem;
			top:25%;
		}
		[class = "tabButton"] {
			.format(inherit, 2rem, 50%);
			.animation;
			background-color:@secondaryBackgroundColor;
			clip-path:polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);
			top:25%;
			right:1.5%;
			float:right;
			z-index:1;
		}
		[class = "tabButton"]:hover {
			cursor:pointer;
		}
	}
	[class = "tabBody"] {
		.format(inherit, 100%,17rem);
		.animation;
		animation-name:dropdownOpen;
		background-color:@secondaryColor;
		color:@textColor;
		overflow: hidden;

		p {
			.animation;
			animation-name:dropdownPOpen;
			margin:0px;
			padding:1rem 5%;
		}
		p::before {
			content:"> ";
		}
	}
}
h2 {
	.format(relative,10%,5rem);
	text-decoration: underline;
	color:@textColor;
	font-size:2rem;
	margin:auto;
}
// The text headers of each container
[class *= "Name"] {
	.format(absolute, 100%);
	mix-blend-mode:normal;
	font-size:1.25rem;
	text-align: center;
	margin-top:10px;
	color:@textColor;
	top:0%;
}
/*  Rest of the styling goes here */
[class = "priceBox"] {
	.format(relative, 25%, 75%);
	display:inline-block;
	margin-left:6.25%;
	margin-top:1.5%;
	top:10%;
	@media only screen and (max-width: 630px) {
		display:block;
	}

	[class = "nameCont"] {
		&:extend(.staticCont);
		height:inherit;
		height:100%;
		bottom:0%;

		[class = "nameBlend"] {
			&:extend(.staticBlendCont);
			background-color:@secondaryColor;
			mix-blend-mode: screen;
			height:inherit;	
			bottom:0%;

			[class = "descriptionCont"] {
				&:extend(.staticCont);
				height:75%;
				bottom:0%;

				[class = "descriptionBlend"] {
					&:extend(.staticBlendCont);
					background-color:#31668b;
					mix-blend-mode: screen;
					height:100%;
					bottom:0%;

					[class = "pricingCont"] {
						&:extend(.staticCont);
						bottom:0%;	
						height:45%;

						[class = "pricingBlend"] {
							&:extend(.staticBlendCont);
							background-color:@activeTextColor;
							mix-blend-mode: soft-light;
							height:100%;
							bottom:0%;
						}
					}
				}
			}	
		}
	}
}

#globalNS > .social();
