// Import fixed colors to used throughout the pages
@import "./colors.less";

.static {
  background-color:@secondaryColor;
  font-size:1.5rem;
  position:fixed;
  filter:opacity(70%);
  z-index:1;
  width:100%;
  height:6vh;
}
html, body {
  font-family:"Oswald";
  width:100%;
  height:100%;
  margin:0;
  #bgCanvas {
    z-index:0;
    width:inherit;
    height:inherit;
  }
  // Active is the id of the navigation referring to the current page
  #active {
    background-color:@activeColor;
  }
 #header {
  &:extend(.static);
  top:0%;
  ul[id = "navigation"] {
    position:relative;
    padding-right:5%;
    margin-top:0%;
    width:25%;
    float:right;
    height:100%;
    li {
      text-decoration:none;
      padding:2.75% 5% 3.25% 4%;
      font-size:1.1rem;
      position:inherit;
      color:@textColor;
      display:inline;
      top:10%;
    }
    // Include hover affect on navigation
    li:hover {
       background-color:@activeColor;
       cursor:pointer;
       color:black;
    }
  }
 }
 #footer {
  &:extend(.static);
  bottom:0%;
  #social {
    position:relative;
    padding-right:2.5vw;
    float:right;
    width:20vw;
    height:100%;
    .socialImg {
      position:inherit;
      float:right;
      margin-top:3%;
      margin-right:4%;
      height:28px;
    }
    .socialImg:hover {
      cursor:pointer;
    }
    @media only screen and (max-width:670px) {
      img[alt = "instagram"] {
        display:block;
      }
    }
  }
 }
}
