// This file holds the styling that will be applied to every page

.staticBar {
	background-color:@secondaryColor;
  	font-size:1.5rem;
  	position:fixed;
  	filter:opacity(70%);
  	z-index:2;
  	width:100%;
  	height:6vh;
}
.staticUL {
	position:relative;
	padding:0px;
	margin:0%;
}
.staticLI {
	text-decoration:none;
	position:relative;
	font-size:1.1rem;
	color:@textColor;
	display:inline;
}
.staticLIHover {
	background-color:@activeColor;
	cursor:pointer;
	color:black;
}
// global namespace
#globalNS() {
	.navigation() {  
		#header {
		    &:extend(.staticBar);
		    top:0%;
		    ul[id = "navigation"] {
		    	&:extend(.staticUL);
				width:inherit;
				height:100%;
				li {
					&:extend(.staticLI);
					padding:0.65% 1.5% 0.85% 1.5%;
					float:right;

					ul[class = "subDir"] {
						display:none;
					}
				}
				// Include hover affect on navigation
				li:hover {
					&:extend(.staticLIHover);
					ul[class = "subDir"] {
						&:extend(.staticUL);
						background-color:@secondaryColor;
						position:absolute;
						padding:0%;
						display:inline;
						float:left;
						right:0%;
						top:100%;
						width:225px;
						height:125px;

						li {
							&:extend(.staticLI);
							padding:2.75% 5.25%;
							margin-top:7.5%;
							margin-right:5%
						}
						li:hover {
							&:extend(.staticLIHover);
						}
					}
				}
				// Active is the id of the navigation referring to the current page
				#active {
					background-color:@activeColor;
					color:black;
				}
				// Home link has separate float than rest of navigation
				#homeLink {
					float:left;
				}
		    }
		}
	}
	.bg_canvas() {
		#bgCanvas {
			position:fixed;
			width:inherit;
			height:inherit;
			top:0%;
			z-index:0;
		}
	}
	.bg_img() {
		[id = 'bgImage'] {
			position:fixed;
			width:inherit;
			height:inherit;
			opacity:0.05;
			z-index:1;
			top:0%;
		}
	}
	.social() {
		#footer {
		    &:extend(.staticBar);
		    bottom:0%;
		    #social {
				position:relative;
				padding-right:2.5vw;
				float:right;
				width:20vw;
				height:100%;
				.socialImg {
					position:inherit;
					float:right;
					margin-top:2.5%;
					margin-right:4%;
					height:28px;
				}
				.socialImg:hover {
					cursor:pointer;
				}
				@media only screen and (max-width:670px) {
					img[alt = "instagram"] {
					  display:block;
					}
				}
		    }
		 }
	}
}